body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;color: rgb(123, 23, 223);
  text-align: left;
}
.h11{color: red;}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}
div > div > img{float: left;
  width: 200px;
  height: 200px;
  display: inline-block;
}

@media(min-width:350px) and (max-width:600px){
  
  }
  
}
